In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [25]:
url = 'https://www.jumia.com.ng/smartphones/?page=2'
page = requests.get(url)

soup = BeautifulSoup(page.content, 'html.parser')

In [18]:
# creating a function that will help in scraping (using findAll)
def locator(span, attrs={}):
    vals = soup.find_all(span, attrs)
    return [i.text for i in vals]

In [26]:
# scraping the site for the brand
#brands = [a.replace('\xa0', '') for a in locator('span', {'class':'brand'})]

#scraping the site for the device description
desc = [a for a in locator('h3', {'class':'name'})]


# scraping the old and new prices of the items
new_prices = [a for a in locator('div', {'class':'prc'})]


old_prices = [a for a in locator('div', {'class':'old'})]

review = [a for a in locator('div', {'class':'stars'})]

# obtaining the new prices from the list of prices
# new_prices = []
# for i in range(0, len(prices)-1, 2):
#     new_prices.append(prices[i])

# # obtaining the old prices from the list of prices  
# old_prices = []
# for i in range(1, len(prices), 2):
#     old_prices.append(prices[i])

# # converting the scraped variables to a dataframe
data = pd.DataFrame(zip(new_prices, old_prices, desc, review), 
                    columns = ['Current_Price', 'Old Price', 'Description', 'review'])

In [52]:
# data['Old Price'].replace(' ', 'No Old Prices', inplace = True)

data.drop_duplicates(inplace = True)

In [57]:
data['brand'] = data['Description'].apply(lambda x: x.split()[0])

In [ ]:
data.to_csv('scraping_jumia')

#### Phones sold by Jumia

In [28]:
# data.to_csv('jumia_phones.csv') # uncommenting this line resets the already existing jumia.csv

# reads the saved data
previous = pd.read_csv('jumia.csv')

# appends it to the new data now
saved = pd.concat([previous, data], sort = False, join = 'inner', ignore_index = True)

# remove duplicate rows
saved.drop_duplicates(inplace = True)

# adds the clean data
saved.to_csv('jumia.csv')

In [55]:
saved.head()

,Brands,Current_Price,Description,Old Price
0,Samsung,"₦ 132,900",Galaxy S9 5.8'' Inch QHD 4GB+64GB 12MP+8MP 4G ...,"₦ 250,000"
1,Nokia,"₦ 35,699","5.1, 5.5-inch (3GB RAM 32GB ROM), Android 9 Pi...","₦ 45,999"
2,UMIDIGI,"₦ 34,990","A3X Android 10 Global Version 3GB RAM 5.7"" Sma...",No Old Prices
3,Letv,"₦ 28,800","LeTV Le X526 5.5"" FHD (3GB, 64GB ROM), Android...","₦ 56,800"
4,Itel,"₦ 29,990","S15 6.088"" HD+ FullScreen, 16MP AI Front Camer...","₦ 32,000"

#### HP latops sold by JUMIA

In [186]:
# data.to_csv('hp_laptops.csv') this resets the existing hp_laptops to csv
previous_hp = pd.read_csv('hp_laptops.csv')

# appends it to the new data now
saved_hp = pd.concat([previous_hp, data], sort = False, join = 'inner', ignore_index = True)

# drops any duplicate rows 
saved_hp.drop_duplicates(inplace = True)

# saves the clean data back to the csv file
saved_hp.to_csv('hp_laptops.csv')

In [191]:
saved_hp.tail()

,Brands,Current_Price,Old Price,Description
338,Hp,"₦ 438,000","₦ 450,000","Elitebook 840 G6-14""-Core I7-8565U-512GB SSD 1..."
339,Hp,"₦ 500,000",No Old Prices,"Elitebook 840 G6 - 14"" - Core I7 8565u - 32GB ..."
340,Hp,"₦ 150,000",No Old Prices,14-DQ0011 TOUCHSMART Core™ I3-8145U WIN10
341,Hp,"₦ 172,000","₦ 200,000","Pavilion X360 11.6 Intel Pentium 500GB/4GB,Tou..."
342,Hp,"₦ 172,000","₦ 190,000","Pavilion X360 11.6 Intel Pentium 500GB/4GB,Tou..."